// COLORS:
$light: #f8f9fa;
$primary: #0d6efd;
// SPACING
$spacer: 1rem;
$sp-1: $spacer * .25;
$sp-2: $spacer * .5;
$sp-3: $spacer * 1;
$sp-4: $spacer * 1.5;
$sp-5: $spacer * 3;
// FONT
$size: 1rem;
$fs-1: $size * 2.5;
$fs-2: $size * 2;
$fs-3: $size * 1.75;
$fs-4: $size * 1.5;
$fs-5: $size * 1.25;
$fs-6: $size * 1;

*{
    padding: 0;
    margin: 0;
    border: none;
}
a{
    text-decoration: none;
}